@import "./base.css";

#app {
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: var(--color-status);
}

ul {
  list-style: none;
  padding: 0;
}

ul.menu {
  display: flex;
  align-items: center;
  gap: 20px;
}

h1 {
  font-size: 6rem;
  font-weight: 300;
}

h2 {
  font-size: 5rem;
}

h3 {
  font-size: 6rem;
  font-weight: 700;
  color: var(--vt-c-red);
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.5rem;
}

header, footer {
  display: flex;
  align-items: center;
  width: 100%;
}

header{
  justify-content: space-between;
}

.status {
  color: var(--color-status);
  font-weight: 700;
}

@media (max-width: 1200px) {
  h1, .status {
    font-size: 4rem;
  }
}

@media (max-width: 800px) {
  h1,h3, .status {
    font-size: 1.5rem;
  }
  h5 {
    font-size: 1rem;
  }
}
